In [3]:
import pandas as pd
from pandas import DataFrame
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import numpy as np

from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service as ChromeService

driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

ticker = "AMZN"

PATH = "C:\Program Files (x86)\chromedriver.exe"
#driver = webdriver.Chrome(PATH)

driver.get("https://www.morningstar.com/stocks/xnas/googl/key-metrics")

panda = pd.read_html(driver.page_source)

driver.implicitly_wait(40)


driver.quit()

<>:15: SyntaxWarning: invalid escape sequence '\P'
<>:15: SyntaxWarning: invalid escape sequence '\P'
C:\Users\diego\AppData\Local\Temp\ipykernel_13216\3150454208.py:15: SyntaxWarning: invalid escape sequence '\P'
  PATH = "C:\Program Files (x86)\chromedriver.exe"
C:\Users\diego\AppData\Local\Temp\ipykernel_13216\3150454208.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  panda = pd.read_html(driver.page_source)

In [4]:
morning1 = DataFrame(panda[0])
morning2 = DataFrame(panda[1])
morning3 = DataFrame(panda[2])

In [5]:
morning1

,"Income Statement (in Bil, except ratios)",03/31/2025,12/2024,12/2023,12/2022,12/2021,12/2020
0,Revenue,359.71,350.02,307.39,282.84,257.64,182.53
1,Revenue Growth %,13.07%,13.87%,8.68%,9.78%,41.15%,12.77%
2,Gross Profit,210.76,203.71,174.06,156.63,146.70,97.80
3,Gross Profit Margin %,58.59%,58.20%,56.63%,55.38%,56.94%,53.58%
4,Operating Income,117.52,112.39,84.29,74.84,78.71,41.22
5,Operating Margin %,32.67%,32.11%,27.42%,26.46%,30.55%,22.59%
6,EBIT,129.08,115.60,82.16,69.51,89.58,46.35
7,EBIT Margin %,35.88%,33.03%,26.73%,24.58%,34.77%,25.39%
8,EBITDA,145.46,130.91,94.11,85.44,102.02,60.05
9,EBITDA Margin %,40.44%,37.40%,30.61%,30.21%,39.60%,32.90%
10,Net Income,111.00,100.12,73.80,59.97,76.03,40.27
11,Net Profit Margin %,30.86%,28.60%,24.01%,21.20%,29.51%,22.06%
12,Basic EPS,9.06,8.13,5.84,4.59,5.69,2.96
13,Diluted EPS,8.97,8.04,5.80,4.56,5.61,2.93
14,Normalized EPS,8.28,7.94,6.05,4.90,4.92,2.58
15,Total Dividends per Share,0.80,0.60,—,—,—,—

In [6]:
morning2

,"Balance Sheet (in Bil, except ratios)",03/31/2025,12/2024,12/2023,12/2022,12/2021,12/2020
0,Total Assets,475.37,450.26,402.39,365.26,359.27,319.62
1,Total Liabilities,130.11,125.17,119.01,109.12,107.63,97.07
2,Total Debt,23.56,25.46,28.50,29.68,28.40,26.77
3,Total Equity,345.27,325.08,283.38,256.14,251.64,222.54
4,Cash And Cash Equivalents,23.26,23.47,24.05,21.88,20.95,26.47
5,Working Capital,70.40,74.59,89.72,95.50,123.89,117.46
6,Shares Outstanding (Bil),12.24,12.24,12.52,12.94,13.28,13.53
7,Book Value Per Share,28.41,26.62,22.74,19.93,19.00,16.48
8,Total Debt To Equity,0.07,0.08,0.10,0.12,0.11,0.12

In [7]:
morning3

,"Cash Flow Statement (in Bil, except ratios)",03/31/2025,12/2024,12/2023,12/2022,12/2021,12/2020
0,Cash From Operating Activities,132.60,125.30,101.75,91.50,91.65,65.12
1,Cash From Investing Activities,-53.17,-45.54,-27.06,-20.30,-35.52,-32.77
2,Cash From Financing Activities,-80.22,-79.73,-72.09,-69.76,-61.36,-24.41
3,Capital Expenditures,57.72,52.54,32.25,31.49,24.64,22.28
4,Free Cash Flow,78.59,81.17,73.34,62.25,68.54,41.02
5,Change in Cash,-0.79,0.03,2.59,1.44,-5.23,7.94